::-webkit-scrollbar{width:8px;height:8px;background-color:#10151b;}
::-webkit-scrollbar-thumb{background:#868e96;border-radius:8px;}
*,*:after,*:before{box-sizing:border-box;-moz-box-sizing:border-box;}
@font-face{font-family:Nunito;font-style:normal;font-weight:400;src:local("Nunito"),url(/fonts/Nunito-Regular.ttf);font-display:swap}
@font-face{font-family:Nunito;font-style:italic;font-weight:400;src:local("Nunito"),url(/fonts/Nunito-Italic.ttf);font-display:swap}
@font-face{font-family:Nunito;font-style:normal;font-weight:bold;src:local("Nunito"),url(/fonts/Nunito-Bold.ttf);font-display:swap}
html,body{scroll-behavior:smooth;}
body{font:18px 'Nunito',sans-serif;margin:0;transition-duration:0.2s;overflow-x:hidden;background-color:#0c1016;color:#f1f1f1;}

a{color:inherit;text-underline-position:under;-ms-text-underline-position:under;}

.widthNormalizer{max-width:1050px;width:90%;margin:0 auto;}
header,footer{width:100%;}
header{position:fixed;top:0;left:0;background-color:#1c2026;}
footer{bottom:0;background-color:#0c1016;}
main{padding:3em 0 0;background:linear-gradient(#1c2026 10%,#0c1016 100%);min-height:calc(100vh - 3.5em);}
section{margin:50px 0;text-align:justify;}
section img{float:right;width:35px;cursor:pointer;}
section img:focus{transform:translateY(10px);}
section h2{margin-block-end:0;}
section h4{margin-block-start:0;color:#aaa;font-weight:normal;}
hr{border-color:#5a5a5a;}

input,button,textarea{font-size:100%;font-family:Nunito,sans-serif;outline:none;display:block;margin:10% auto;border-radius:5px;}
input,textarea{background-color:inherit;color:inherit;border-color:transparent;box-shadow:inset 0 0 5px#0c1016;padding:12px 15px;width:100%;}
textarea{resize:vertical;height:25vh;}
button{cursor:pointer;padding:5px 12px;margin-bottom:0;}
#compose{color:#f1f1f1;width:2.5em;position:fixed;bottom:25px;cursor:pointer;filter:drop-shadow(2px 4px 2px #0c1016);}

@media screen and (max-width:600px) {
  body{font-size:14px;}
}

@media screen and (max-width:1050px) and (orientation:landscape) {
    body{font-size:14px;}
}